<section
  class="meetings-page"
  id="meetings"
  *ngIf="cards && buttons">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="filters">
              <ul>
                <li
                  [attr.data-filter]="button.dataFilter"
                  *ngFor="let button of buttons; let i = index">
                  {{ button.titulo }}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row grid">
              <!-- comienzo tarjeta -->
              <div
                class="col-lg-4 templatemo-item-col"
                [ngClass]="card.clase"
                *ngFor="let card of cards">
                <app-card [data]="card"></app-card>
              </div>
              <!-- fin -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
