<app-loading *ngIf="isLoading"></app-loading>

<div [ngStyle]="{ display: !isLoading ? 'block' : 'none' }">
  <app-navbar></app-navbar>
  <section class="section main-banner" id="top" data-section="section1">
    <div class="tablet-mt-80">
      <video 
        #homeVideo
        muted
        autoplay
        loop
        class="full-width">
        <source src="assets/video/home1.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </section>

  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h3>Compromiso</h3>
                <p>
                  Adoptar es un acto de responsabilidad y compromiso por lo que es importante que estes capacitado para hacerlo. Un perro puede vivir entre 14 y 18 años y durante todo ese tiempo dependerá de vos.
                </p>
                <div class="main-button-red">
                  <div class="scroll-to-section">
                    <a href="#contact">Mandanos un mensaje</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h3>Te ayudamos</h3>
                <p>
                  Te ayudamos ya sea a dar en adopción, si perdiste a tu mascota o también si viste a algún animalito por la calle y crees que tiene dueño, publicalo acá. 
                </p>
                <div class="main-button-yellow">
                  <div class="scroll-to-section">
                    <a href="login/sign-up">Registrate</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <app-accordion></app-accordion>
        </div>
      </div>
    </div>
  </section>

  <app-filter [isLoading]="isLoading"></app-filter>

  <!-- <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Our Popular Courses</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <app-carousel></app-carousel>
        </div>
      </div>
    </div>
  </section> -->

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>Queremos ayudarlos a ellos y a ti a encontrarlos</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">5</div>
                    <div class="count-title">Años trabajando por ellos</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">126</div>
                    <div class="count-title">Mascotas en el refugio</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">600</div>
                    <div class="count-title">Fueron adoptados</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">62</div>
                    <div class="count-title">Quieren ser adoptados o encontrados</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a
              href="https://www.youtube.com/watch?v=Jv1iolzbvZg"
              target="_blank"
              ><img src="assets/images/play-icon.png" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-contact-form></app-contact-form>
</div>
