<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha de publicación</th>
      <th scope="col">Especie</th>
      <th scope="col">Categoria</th>
      <th scope="col">Autorizado</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let case of adoptionList">
      <td>{{ case.petname }}</td>
      <td>{{ case.publicationDate }}</td>
      <td>{{ case.species }}</td>
      <td>{{ case.category }}</td>
      <td>{{ case.is_authorized }}</td>
      <td>
        <div *ngIf="!isActionsButtonsLoading">
          <i 
            class="fas fa-edit text-primary mr-2 cursor-pointer" 
            (click)="onEditPet(case._id)">
          </i>
          <i 
            class="fas fa-trash text-danger cursor-pointer"
            (click)="onDeletePet(case._id)">
          </i>
        </div>
        <div 
          *ngIf="isActionsButtonsLoading"
          class="spinner-border" 
          role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
