<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">Animal App</a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section">
              <a href="#top" class="active">Home</a>
            </li>
            <li class="scroll-to-section"><a href="#apply">Nosotros</a></li>
            <li class="has-sub">
              <a href="javascript:void(0)">Buscador de mascotas</a>
              <ul class="sub-menu">
                <li><a href="meetings.html">Encontradas</a></li>
                <li><a href="meeting-details.html">Perdidas</a></li>
                <li><a href="meeting-details.html">Registrar</a></li>
              </ul>
            </li>
            <li class="scroll-to-section">
              <a href="#contact">Contactanos</a>
            </li>
            <li class="nav-item">
            <a routerLink="/login/sign-in">Logueate</a>
            </li>
            <li class="nav-item">
            <a routerLink="/login/sign-up">Registrate</a>
            </li>
          </ul>

          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
