<header class="header-area header-sticky main-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a 
            href="/" 
            class="logo">
            Animal App
          </a>
          <ul class="nav">
            <li class="scroll-to-section"><a href="home#top" class="active">Home</a></li>
            <li class="scroll-to-section"><a href="home#apply">Nosotros</a></li>
            <li class="has-sub">
              <a href="javascript:void(0)">Mascotas</a>
              <ul class="sub-menu">
                <li><a href="meetings.html">Adopción</a></li>
                <li><a href="meeting-details.html">Perdidos</a></li>
                <li><a href="meeting-details.html">Encontrados</a></li>
              </ul>
            </li>
            <li class="scroll-to-section"><a href="home#contact">Contacto</a></li> 
            
            <li class="scroll-to-section">
              <a class="cursor-pointer"  
                  *ngIf="!loggedIn; else panelAdmin"  
                  (click)="onNavigateToSignIn()" 
              >
                Iniciar sesión
              </a>
              <ng-template #panelAdmin>
                <a class="cursor-pointer" (click)="onNavigateToDashboard()">
                  Ir panel
                </a>
              </ng-template>
              
            </li> 
          </ul>        
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>